body {
	background-color:#333;
	}

#login, #registrar {
		
	}

.bordes {
		background-color:#FFF;
        font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
        border: 1px;
        border-color: #DDD;
        border-style: solid;
		padding-right:0px;
		text-align:left;
		padding:5px;
}
.bordes thead {
		height:15px;
	}

.bordes thead th{
 		text-align:center;
        border:1px;
        border-color:#DDD;
        border-style: solid;
        font-weight: normal;
		
}


.bordes tr:hover {
        background-color: #FAFAFA;
}

.edit {
	
	width: 220px;
	}

.boton {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #EAEAEA;
		height:24px;
        border-width: 1px;
        border-style: solid;
        border-color: #CCC;
        color: #333333;
        font-weight: bold;
        cursor: hand;
        font-size: 12px;
}
.boton:hover {
        background-color: #FBFBFB;
        font-size: 12px;
        color: #FF8000;
}