
html {
	background-color:#FFF;
	}

body {
	background-color:#FFF;
	background-image:url(../images/fondo.jpg);
	background-repeat:repeat-x;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-top:0px;
	color:#252802;



	}
#grass {
	
	background-image:url(../images/pasto.gif);
	background-repeat:repeat-x;
	height:100%;
	background-position:bottom;
	}

#banner{
	margin-left:auto;
	margin-right:auto;
	height:300px;	
	width:1000px;
	
	}

#login, #registrar {
		
	}
#pgSiteContainer { 
	min-width: 1016px; 
	
}
	
#pgPageContent{
	width:1016px;
	margin-left:auto;
	margin-right:auto;

}

#pgPageContent .top{
		background-image:url(../images/top.png);
	 	

		background-repeat:no-repeat;
		height:10px;
		display:block;
		margin-bottom:0px;
		
	}
#pgPageContent .cuerpo{
		background-image:url(../images/body.png);
		background-repeat:repeat-y;
		margin-top:-20px;
		
	}
#pgPageContent .cuerpo2{
		background-image:url(../images/body.png);
		background-repeat:repeat-y;
		margin-top:0px;
	
	}

#pgPageContent .bottom{
		background-image:url(../images/bottom.png);
		background-repeat:no-repeat;
		
		height:10px;
		display:block;

	}

.bordes {
		background-color:#FFF;
        font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
        border: 1px;
        border-color: #DDD;
        border-style: solid;
		padding-right:0px;
		text-align:left;
		padding:5px;
}
.bordes thead {
		height:15px;
	}

.bordes thead th{
 		text-align:center;
        border:1px;
        border-color:#DDD;
        border-style: solid;
        font-weight: normal;
		
}


.bordes tr:hover {
        background-color: #FAFAFA;
}

.edit {
	
	width: 220px;
	font-family:Arial, Helvetica, sans-serif;
	}

.boton {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #693;
		height:24px;
        border-width: 1px;
        border-style: solid;
        border-color: #CCC;
        color: #FFF;
        font-weight: bold;
        cursor: hand;
        font-size: 12px;
		padding-left:5px;
		padding-right:5px;
}
.boton2 {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #693;
		height:30px;
        border-width: 1px;
        border-style: solid;
        border-color: #CCC;
        color: #FFF;
        font-weight: bold;
        cursor: hand;
        font-size: 13px;
		padding-left:5px;
		padding-right:5px;
}
.boton:hover {
        background-color: #FBFBFB;
        font-size: 12px;
        color: #FF8000;
}
.boton2:hover {
        background-color: #7AB83D;
        font-size: 13px;

}

#topmenu {
	float: right;
	height:42px;
	width: 332px;
	background-image:url(../images/topmenu.png);
	background-repeat:none;
}



#topmenu ul {
	
	
	list-style: none;
	line-height: normal;
}

#topmenu li {
	display: inline;
}

#topmenu a {
	display: block;
	float: left;
	margin: 0 0 0 15px;
	padding: 0 0 0 10px;
	padding-top:13px;
	
	text-transform: uppercase;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	color: #565913;
	border: 0px;
	
}
#topmenu a:hover{
	
	padding-top:9px;
	
}


#deporte{
	width:1010px;
	margin-left:auto;
	margin-right:auto;
	
	}
#todo{
	
	width:100%;
	margin-left:0px;
	margin-right:0px;
	height:100%;
	}
	
#todo2{
	min-height: 100%;
	height: auto !important;
    height: 100%;
    margin-bottom: -121px;
    position: relative;

	margin-left:0px;
	margin-right:0px;
	
	}

#nubes{
	background-image:url(../images/nubes.png);
	background-repeat:repeat-x;
	padding-top:10px;
	position:static;
	margin-left:0px;
	margin-right:0px;
	}

#todoIndex{
	
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/login.png);
	background-repeat:no-repeat;
	width:1010px;
	padding-bottom:80px;
	
	}

#todoDeporte{
	
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/deporte2.png);
	background-repeat:no-repeat;
	width:1010px;
	padding-bottom:80px;
	height:480px;
	}
#todoDeporte2{
	
	margin-left:auto;
	margin-right:auto;
	
	width:1010px;
	padding-bottom:80px;
	height:630px;
	}

#todoDeporte a {
	text-decoration:none;
	border-style:solid;
	border-width:0px;
	}

#todoDeporte img {
	text-decoration:none;
	border-style:solid;
	border-width:0px;
	}

#todoDeporte .tenis{	
	float: left;
	margin-top:158px;
	margin-left:357px;
	width:154px;
	height:81px;
	background-image:none;
	
	}
#todoDeporte .tenis:hover {
	background-image:url(../images/efecto.png);
	
}

#todoDeporte .tenis img {
	margin-top:27px;
	margin-left:47px;
}
	
#todoDeporte .futbol{
	float: left;
	margin-top:126px;
	margin-left:36px;
	width:154px;
	height:81px;
	background-image:none;
	}
#todoDeporte .futbol:hover {
	background-image:url(../images/efecto.png);
}
#todoDeporte .futbol img {
	margin-top:27px;
	margin-left:42px;
}

.clearing{
	clear: both;
	line-height: 1px;
}

#todoIndex table{
	background-color:transparent;
	color:#252802;
	font-size:13px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	}

.logo{
	width:637px;
	height: 196px;
	float:left;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	}
	
#todoIndex .login {
	width:300px;
	float:left;
	margin-top:170px;
	margin-left:660px;
	position:absolute;
	}

#todoIndex .registrar {
	position:relative;
	width:509px;
	float:left;
	margin-top:180px;
	margin-left:260px;
	height:330px;
	}
	
#sa_content_wrapper3{
	width:100%;
    float:right;
    margin-left:-197px; 
    margin-top:-8px;
	
}
#sa_content_wrapper3 #sa_content3{
	margin-left:210px;
}

#anuncios {
	height:100px;
	margin-top:-10px;
	position:bottom;
	
	}

#anuncios2 {
	height:100px;
	background-image:url(../images/def.gif);
	background-repeat:repeat-x;
	position:relative;
	z-index:-1;
	margin-top:48px;
	}


#footer {
	height:121px;
	background-image:url(../images/pasto.gif);
	background-repeat:repeat-x;
	margin-top:-30px;
	position:bottom;
	z-index:20;
	}
#footer2 {
	height:121px;
	background-image:url(../images/pasto.gif);
	background-repeat:repeat-x;
	position:relative;
	z-index:20;
	}
#nofooter {
	height:121px;
	clear: both;
	}

.top_futbol {
	background-image:url(../images/top_futbol.png);
	background-repeat:no-repeat;
	width:188px;
	height:192px;
	float:right;
	position:bottom right;
	margin-top:27px;
	background-color:transparent;
	}
	
.top_tenis {
	background-image:url(../images/top_tenis.png);
	background-repeat:no-repeat;
	width:243px;
	height:171px;
	float:right;
	position:bottom right;
	margin-top:65px;
background-color:transparent;
	}

.navi{
	text-align:left;
	height:24px;
	vertical-align:middle;
}

.navi span.navthis { 
    padding: 3px 6px; 
    color: #FFF; 
	font-weight:bold;
    text-decoration: none;
	background-color: #cf7124;
	border-width:1px;
	border-style:solid;
	border-color:#875017;
	display:inline-block;

} 

.navi a { 
    padding: 3px 6px; 
    color: #000; 
    text-decoration: none;
	background-color: #FFF;
	border-width:1px;
	border-style:solid;
	border-color:#875017;
	display:inline-block;

} 
.navi a:hover { 
    padding: 3px 6px; 
    color: #000; 
    background-color: #EAB184; 
} 

.foto {
	background-color:#FFF;
	background-image:url(../images/nobody.gif); 
	background-repeat:no-repeat;
	height:185px;
	width:140px;
	display:block;
	}

#bienvenido {
	background-image:url(../images/welcome.gif);
	background-repeat:no-repeat;
	height:76px;
	width:257px;
	position:absolute;
	top:160px;
	right:118px;	
	}
	
#bienvenido .texto {
	position:relative;
	top:10px;
	left:10px;
	font-weight:bold;
	}
	
#temporal {
	padding-left:60px;	
	}
	
#bienve {
	float:left;
	position:absolute;
	
	margin-top:200px;
	margin-left:18px;
	z-index:23;
	
	height:86px;
	width:420px;
	}