@charset "utf-8";
/* CSS Document */

#horario_container h3,#horario_container h2 {
	text-align:center;
	color:#036;
	font-size:14px;
	font-weight:bold;
}

#horario_container h2 {
		font-size:18px;
}

#horario
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 44px;
	margin-top:10px;
	margin-bottom:18px;
	text-align: left;
	border-collapse: collapse;
	border: 33px solid #BDD68B;
}
#horario th
{
	font-size: 14px;
	font-weight: 500;
	padding: 12px 15px;
	border-right: 0px solid #707711;
	border-left: 0px solid #707711;
	color: #039;
	text-align:center;
}
#horario td
{
	padding: 8px 15px;
	border-right: 1px solid #707711;
	border-left: 1px solid #707711;
	color: #036;
}


#horario tr:hover
{	
		background: #D9F28A;
}


.vzebra-odd
{
	background: #FFF;
}
.vzebra-even
{
	background: #FFF;
}
#horario #vzebra-adventure, #horario #vzebra-children
{
	background: #D9F28A;
	border-bottom: 1px solid #707711;
}
#horario #vzebra-comedy, #horario #vzebra-action
{
	background: #F0FCE0;
	border-bottom: 1px solid #707711;

}

#horario a {
	margin:0px;
	height:16px;
	width:40px;
	display:block;
	background-color:#FFF;
	}

#horario a span{	
	display:none;
	}
#horario a:hover span{
	display:block;
	}
	
	
	
	
#horario2
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;	
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #707711;
	background-color:#FFF;
}
#horario2 th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;

	color: #039;
}
#horario2 td
{
	padding: 8px 15px;
	
	color: #669;
}


#horario2 tr:hover
{
	
		background: #D9F28A;
	
}

#horario2 .especial
{
	background: #D9F28A;
	}

#horario2 #vzebra-adventure, #horario2 #vzebra-children
{
	background: #DDF1A0;
	border-bottom: 1px solid #707711;
}
#horario2 #vzebra-comedy, #horario2 #vzebra-action
{
	background: #F0FCE0;
	border-bottom: 1px solid #707711;

}

#horario2 h4 {
	font-weight:bold;
	font-size:14px;
	
	}
